<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <castle>
      <properties>
        <name>Mihir</name>
        <age>31</age>
        <placeOfBirthRefVal>Pune</placeOfBirthRefVal>
        <placeOfBirth>#{placeOfBirthRefVal}</placeOfBirth>
        <yearOfBirth>1958</yearOfBirth>
      </properties>

      <!--<components>
        <component name="Person"
                   type="Castle.Windsor.Extensions.Test.Helpers.Person, Castle.Windsor.Extensions.Test">
          <parameters>
            <name>#{name}</name>
            <age>#{age}</age>
          </parameters>
        </component>
      </components>-->
    </castle>
  </castle>
</configuration>